In [1]:
import numpy as np
import pandas as pd
import os

Пишем общий класс, который объединяет все файлы в нужных форматах

In [2]:
class ConvertToObject:
    '''
    Class of all object.
    '''
    

    def to_xml(self, path_file, index = -1):
        # get path of file and open file in xml. After put in dict
        data = pd.read_xml(path_file)
        if index == -1:
            self.dict_obj[path_file] = data
        else:
            self.dict_obj[self.name_files[index]] = data

    def to_csv(self, path_file, index = -1):
        # get path of file and open file in csv. After put in dict
        data = pd.read_csv(path_file)
        if index == -1:
            self.dict_obj[path_file] = data
        else:
            self.dict_obj[self.name_files[index]] = data

    def to_xls(self, path_file, index = -1):
        # get path of file and open file in xls. After put in dict
        data = pd.read_excel(path_file)

        # убираем не нужные данные в таблице
        data = data.iloc[2:, :]
        data.drop(data.columns[[1,2,3]], axis=1 ,inplace=True)
        
        data.index = data.iloc[:, 0].tolist()
        data.drop(data.columns[[0]], axis=1 ,inplace=True)
        
        # ставим год наверх
        data.columns = data.iloc[0, :].astype(int).tolist()
        data = data.iloc[1:, :]

        if index == -1:
            self.dict_obj[path_file] = data
        else:
            self.dict_obj[self.name_files[index]] = data

        

    def __init__(self):
        self.path_files = []
        self.name_files = []
        self.dict_obj = dict()


        to_directory = os.getcwd() + "/datasets/"
        self.name_files = os.listdir(to_directory)

        for i in range(len(self.name_files)):
            self.path_files.append(os.path.join(to_directory, self.name_files[i]))
            
            end_of_namefiles = self.name_files[i][-3:]

            if end_of_namefiles == "xls":
                self.to_xls(self.path_files[i], i)
            elif end_of_namefiles == "xml":
                self.to_xml(self.path_files[i], i)
            elif end_of_namefiles == "csv":
                self.to_csv(self.path_files[i], i)



obj = ConvertToObject()

Здесь уже надо обработать каждый файл по отдельности((((

In [3]:
db = obj.dict_obj.copy()

In [4]:
YEAR = [2015, 2016, 2017, 2018, 2019]

In [5]:
HAPPY_DATASET = dict()

to_directory = os.getcwd() + "/archive/"
for index, year in enumerate(YEAR):
    HAPPY_DATASET[YEAR[index]] = pd.read_csv(os.path.join(to_directory, str(year)+".csv"))

In [6]:
HAPPY_DATASET[2019]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [7]:
name_country_2015 = HAPPY_DATASET[2015]["Country"]
HAPPY_DATASET[2015].rename(columns={"Happiness Score" : "Happiness.Score", "Country" : "COUNTRY"}, inplace=True)

In [8]:
name_country_2016 = HAPPY_DATASET[2016]["Country"]
HAPPY_DATASET[2016].rename(columns={"Happiness Score" : "Happiness.Score", "Country" : "COUNTRY"}, inplace=True)

In [9]:
name_country_2017 = HAPPY_DATASET[2017]["Country"]
HAPPY_DATASET[2017].rename(columns={"Happiness.Score" : "Happiness.Score", "Country" : "COUNTRY"}, inplace=True)

In [10]:
name_country_2018 = HAPPY_DATASET[2018]["Country or region"]
HAPPY_DATASET[2018].rename(columns={"Score" : "Happiness.Score", "Country or region" : "COUNTRY"}, inplace=True)

In [11]:
name_country_2019 = HAPPY_DATASET[2019]["Country or region"]
HAPPY_DATASET[2019].rename(columns={"Score" : "Happiness.Score", "Country or region" : "COUNTRY"}, inplace=True)

In [12]:
# name_country_2020 = HAPPY_DATASET[2020]["Country"]
# HAPPY_DATASET[2020].rename(columns={"Happiness Score" : "Happiness.Score", "Country" : "COUNTRY"}, inplace=True)

In [13]:
# name_country_2021 = HAPPY_DATASET[2021]["Country"]
# HAPPY_DATASET[2021].rename(columns={"Happiness.Score" : "Happiness.Score", "Country" : "COUNTRY"}, inplace=True)

In [14]:
for year in YEAR:
    HAPPY_DATASET[year].set_index("COUNTRY", inplace=True)

In [15]:
HAPPY_DATASET[2015]

,Region,Happiness Rank,Happiness.Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
COUNTRY,,,,,,,,,,,
Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...
Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [16]:
# sample_2 = db["happiness2017.csv"]
# sample_2.index = sample_2.iloc[:, 0].tolist()
# sample_2.drop(sample_2.columns[[0]], axis=1, inplace=True)
# sample_2

In [17]:
sample_3 = db["patenti.csv"]
sample_3.drop(sample_3.columns[[1,2,3,-1]], axis=1 ,inplace=True)
sample_3.index = sample_3.iloc[:, 0].tolist()
sample_3.drop(sample_3.columns[[0]], axis=1 ,inplace=True)
sample_3.columns = sample_3.columns.map(int)
sample_3

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,85.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,43.0,29.0,5.0,16.0,15.0,NaN,60.0,60.0,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,608.0,638.0,802.0,889.0,704.0,728.0,657.0,567.0,542.0,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,13.0,14.0,20.0,15.0,12.0,11.0,2.0,16.0,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,8.0,NaN,NaN,NaN,NaN,NaN

In [18]:
GLOBAL_DATASET_YEAR = dict()

for year in YEAR:
    GLOBAL_DATASET_YEAR[year] = pd.DataFrame()
    for name in obj.name_files:
        end_of_name = name[-3:]
        if end_of_name == "xls":
            temp = obj.dict_obj[name][year].rename(name)
            GLOBAL_DATASET_YEAR[year] = pd.concat([GLOBAL_DATASET_YEAR[year], temp], axis=1)
    GLOBAL_DATASET_YEAR[year] = pd.concat([GLOBAL_DATASET_YEAR[year], sample_3[year].rename("patenti.csv")], axis=1)
    GLOBAL_DATASET_YEAR[year] = GLOBAL_DATASET_YEAR[year].join(HAPPY_DATASET[year]["Happiness.Score"], how='outer')

In [19]:
GLOBAL_DATASET_YEAR[2018]

,nakoplenia_ludei.xls,rashodi_na_med.xls,chislo_ubistv.xls,inflazia.xls,nalogi.xls,procent_tryd_naselenia.xls,trati_na_obraz.xls,rogdaemost.xls,voennie_trati.xls,bezrabotiza.xls,vvp_pps_na_dyshy.xls,vvp.xls,patenti.csv,Happiness.Score
Afghanistan,NaN,14.126743,6.655561,0.626149,71.400000,89.091451,3.199790,36.927000,1.006746,NaN,2109.929296,1.841885e+10,NaN,3.632
Africa Eastern and Southern,19.867242,6.323236,NaN,4.720811,43.212000,83.342406,4.834590,34.611033,1.118114,NaN,3724.868177,1.016697e+12,NaN,NaN
Africa Western and Central,18.677233,3.383501,NaN,1.784050,50.695455,87.676966,3.013220,37.447087,0.905133,NaN,4160.540965,7.663597e+11,NaN,NaN
Albania,16.547233,5.232072,2.289492,2.028060,37.300000,46.914934,3.154901,10.517000,1.160545,NaN,13498.196119,1.515643e+10,15.0,4.586
Algeria,40.150062,6.163026,NaN,4.269990,66.100000,55.953864,5.866350,24.074000,5.467824,NaN,12006.010238,1.749109e+11,152.0,5.295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,26.726351,9.701241,5.774734,2.438737,40.291579,55.235506,4.212570,18.177567,2.151094,2.196267,16958.335122,8.646696e+13,2378500.0,NaN
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.355
"Yemen, Rep.",NaN,NaN,NaN,NaN,26.600000,77.198481,NaN,32.305000,NaN,NaN,NaN,2.160616e+10,NaN,NaN
Zambia,41.825828,5.032715,NaN,7.494572,15.600000,85.838977,4.739750,36.040000,1.409462,NaN,3507.795230,2.631159e+10,11.0,4.377
Zimbabwe,13.923906,8.680062,NaN,10.618866,31.600000,82.123347,3.866110,32.074000,0.309323,NaN,2456.948771,3.415607e+10,NaN,3.692

In [20]:
temp = list(set(GLOBAL_DATASET_YEAR[year].index.tolist()) & set(name_country_2015.tolist()) & 
    set(name_country_2016.tolist()) & set(name_country_2017.tolist()) &
    set(name_country_2018.tolist()) & set(name_country_2019.tolist()))

for year in YEAR:
    GLOBAL_DATASET_YEAR[year] = GLOBAL_DATASET_YEAR[year].loc[temp, :]
    GLOBAL_DATASET_YEAR[year].sort_index(inplace=True)

In [21]:
GLOBAL_DATASET_YEAR[2017]

,nakoplenia_ludei.xls,rashodi_na_med.xls,chislo_ubistv.xls,inflazia.xls,nalogi.xls,procent_tryd_naselenia.xls,trati_na_obraz.xls,rogdaemost.xls,voennie_trati.xls,bezrabotiza.xls,vvp_pps_na_dyshy.xls,vvp.xls,patenti.csv,Happiness.Score
Afghanistan,NaN,12.620817,6.678401,4.975952,71.4,90.543094,3.37331,37.342,0.945227,NaN,2096.093111,1.889635e+10,NaN,3.794
Albania,16.529364,5.012636,2.010978,2.060598,37.3,46.723001,3.61173,10.870,1.108696,NaN,12770.987862,1.301969e+10,16.0,4.644
Algeria,38.726069,6.279384,NaN,5.591116,66.1,54.679122,6.50538,24.755,5.924383,0.53432,11809.483033,1.700970e+11,149.0,5.872
Argentina,13.068849,10.442255,5.273443,NaN,106.0,55.611239,5.45432,16.206,0.856138,0.55631,23597.117753,6.436287e+11,393.0,6.599
Armenia,16.930340,10.362705,2.377080,0.969553,18.5,45.593111,2.70759,13.606,3.849731,0.22788,12509.639606,1.152746e+10,107.0,4.376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.250
Vietnam,28.856869,4.712834,NaN,3.520257,38.1,44.182809,4.08554,16.100,2.267970,0.52674,9050.688534,2.813536e+11,592.0,5.074
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.593
Zambia,36.252465,4.376977,NaN,6.577312,15.6,87.051023,3.72964,36.601,1.309596,NaN,3395.479686,2.587360e+10,12.0,4.514
Zimbabwe,-2.682417,7.469752,NaN,0.893962,31.6,83.101286,5.81878,32.516,0.387831,NaN,2331.780833,1.758489e+10,NaN,3.875

In [22]:
for year in YEAR:
    GLOBAL_DATASET_YEAR[year].index.name = "COUNTRY"
    GLOBAL_DATASET_YEAR[year].drop(["Congo (Brazzaville)","Russia", "Slovakia",  "South Korea",  
                                    "Turkey", "Venezuela", "Yemen", "Czech Republic", "Egypt",
                                    "China", "Iran", "Ivory Coast", "Kyrgyzstan", "Palestinian Territories"], axis=0, inplace=True)

In [23]:
for year in YEAR:
    GLOBAL_DATASET_YEAR[year]["YEAR"] = year*np.ones(len(GLOBAL_DATASET_YEAR[year]), dtype=int)

In [34]:
for year in YEAR:
    GLOBAL_DATASET_YEAR[year].fillna(GLOBAL_DATASET_YEAR[year].mean(), inplace = True)

In [35]:
GLOBAL_DATASET_YEAR[2017]

,nakoplenia_ludei.xls,rashodi_na_med.xls,chislo_ubistv.xls,inflazia.xls,nalogi.xls,procent_tryd_naselenia.xls,trati_na_obraz.xls,rogdaemost.xls,voennie_trati.xls,bezrabotiza.xls,vvp_pps_na_dyshy.xls,vvp.xls,patenti.csv,Happiness.Score,YEAR
COUNTRY,,,,,,,,,,,,,,,
Afghanistan,22.711041,12.620817,6.678401,4.975952,71.4,90.543094,3.37331,37.342,0.945227,1.022868,2096.093111,1.889635e+10,7540.819149,3.794,2017
Albania,16.529364,5.012636,2.010978,2.060598,37.3,46.723001,3.61173,10.870,1.108696,1.022868,12770.987862,1.301969e+10,16.000000,4.644,2017
Algeria,38.726069,6.279384,6.277074,5.591116,66.1,54.679122,6.50538,24.755,5.924383,0.534320,11809.483033,1.700970e+11,149.000000,5.872,2017
Argentina,13.068849,10.442255,5.273443,3.811274,106.0,55.611239,5.45432,16.206,0.856138,0.556310,23597.117753,6.436287e+11,393.000000,6.599,2017
Armenia,16.930340,10.362705,2.377080,0.969553,18.5,45.593111,2.70759,13.606,3.849731,0.227880,12509.639606,1.152746e+10,107.000000,4.376,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,15.915229,8.821792,8.234775,6.218094,41.8,55.473795,4.47097,12.579,1.956923,0.448490,23106.998194,6.423397e+10,23.000000,6.454,2017
Uzbekistan,32.154768,5.076799,1.849200,13.875743,38.3,50.062409,5.03282,22.100,1.771832,0.148340,6840.709860,6.208132e+10,357.000000,5.971,2017
Vietnam,28.856869,4.712834,6.277074,3.520257,38.1,44.182809,4.08554,16.100,2.267970,0.526740,9050.688534,2.813536e+11,592.000000,5.074,2017
Zambia,36.252465,4.376977,6.277074,6.577312,15.6,87.051023,3.72964,36.601,1.309596,1.022868,3395.479686,2.587360e+10,12.000000,4.514,2017
Zimbabwe,-2.682417,7.469752,6.277074,0.893962,31.6,83.101286,5.81878,32.516,0.387831,1.022868,2331.780833,1.758489e+10,7540.819149,3.875,2017

In [36]:
GLOBAL_DATASET = pd.concat(GLOBAL_DATASET_YEAR.values())
GLOBAL_DATASET = GLOBAL_DATASET.sort_values(["COUNTRY", "YEAR"])

In [37]:
GLOBAL_DATASET

,nakoplenia_ludei.xls,rashodi_na_med.xls,chislo_ubistv.xls,inflazia.xls,nalogi.xls,procent_tryd_naselenia.xls,trati_na_obraz.xls,rogdaemost.xls,voennie_trati.xls,bezrabotiza.xls,vvp_pps_na_dyshy.xls,vvp.xls,patenti.csv,Happiness.Score,YEAR
COUNTRY,,,,,,,,,,,,,,,
Afghanistan,21.529468,10.105348,9.783922,-0.661709,36.1,93.042448,3.255800,38.803,0.994576,1.045323,2128.125938,1.999816e+10,7514.010870,3.575,2015
Afghanistan,21.397598,11.818562,6.551163,4.383892,47.9,92.012125,3.511980,37.936,0.956772,1.037768,2023.834656,1.801956e+10,7316.278351,3.360,2016
Afghanistan,22.711041,12.620817,6.678401,4.975952,71.4,90.543094,3.373310,37.342,0.945227,1.022868,2096.093111,1.889635e+10,7540.819149,3.794,2017
Afghanistan,23.052163,14.126743,6.655561,0.626149,71.4,89.091451,3.199790,36.927,1.006746,1.050576,2109.929296,1.841885e+10,7283.863158,3.632,2018
Afghanistan,23.049224,13.242202,5.889513,2.302373,71.4,87.649322,3.213780,36.466,1.118231,1.150812,2167.704111,1.890449e+10,7874.747126,3.203,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,-10.086841,7.452066,6.196811,-2.430968,31.6,85.083365,5.812790,33.960,1.886876,1.045323,2615.090301,1.996312e+10,9.000000,4.610,2015
Zimbabwe,-4.967818,7.675163,6.700562,-1.543670,31.6,84.112216,5.472620,33.171,1.720991,1.037768,2724.452742,2.054868e+10,8.000000,4.193,2016
Zimbabwe,-2.682417,7.469752,6.277074,0.893962,31.6,83.101286,5.818780,32.516,0.387831,1.022868,2331.780833,1.758489e+10,7540.819149,3.875,2017
Zimbabwe,13.923906,8.680062,6.197715,10.618866,31.6,82.123347,3.866110,32.074,0.309323,1.050576,2456.948771,3.415607e+10,7283.863158,3.692,2018
Zimbabwe,20.231198,7.703565,5.889513,255.304991,31.6,81.207858,4.419083,31.518,0.534804,1.150812,2296.390269,2.183223e+10,7874.747126,3.663,2019

In [27]:
GLOBAL_DATASET.to_csv(os.getcwd()+"/global_data.csv", index=True, sep=';')